<!DOCTYPE html>
<html>
<head>
  <title>SampleErase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
=======
wffewf
sadsaf mj=aj
<%= yield %>
zaqzq
asmar</body>
>>>>>>> e61249ed901c1d2a09e180946c3e54dc6d48e783
</html>
